
/* reset styles */

* {
  margin: 0px;
  padding: 0px;
}

/* begin styles */

body {
	color: white;
  background: #E4DBD6;
}

#container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
}

#container {
  font-family: "Raleway Bold", sans-serif;

}