
/* reset styles */

* {
  margin: 0px;
  padding: 0px;
}

/* begin styles */

body {
  background-image: url("images/mirrors.jpg");
}

body {
	color: white;
  background: #E4DBD6;
}

#container {
  margin-top: 70px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

#container {
  font-family: futura; font-size: 20px; 

}

#container {
  max-width: 650px;
  }