
/* reset styles */

* {
  margin: 0px;
  padding: 0px;
}

/* begin styles */

body {
	color: white;
}

body {
  background-image: url("city.jpg")
  background-size: auto 100%;;
}


#container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

#container {
  font-family: "andale mono", sans-serif; font-size: 22px;

}

h1 {
    margin-top: 100px;
    color: white;
    font-size: 75px;
    font-family: "andale mono"
}

a {
  color: white;
}

  ul {
      list-style-type: none;
    }