
/* reset styles */

* {
  margin: 0px;
  padding: 0px;
}

/* begin styles */

body {
	color: #FF9676;
  background: #FCF4EA;
}

body {
  background-image: url("marble2.jpeg");
}

#container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 420px;
}

#container {
 background-image: url("mirrors.jpg");
 background-repeat: no-repeat;
 background-position: center;
}

#container {
  font-family: "Raleway Bold", sans-serif; font-size: 20px;

}