
body {
  background: #pink;
  /* The above is called a hex code.
     There are two other ways to do colors in CSS: rgb and common names
     Find "Digital Color Meter" on your computer to explore more */
  color: black;
  font-size: 22px;
  font-family: Arial;
  font-style: oblique;

h1 {
  /* here I'm making the title not bold (by default headings are always bold)
     centered, larger, tighter leading, and with some bottom space or margin */
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 2em;
}

#container {
  max-width: 650px;
  margin: 0 auto;
  /* I put "max-width" rather than "width" because
     if the screen width is less than 650px, it will shrink accordingly. */
}

h2 {
  /* here I'm making my section headers very clear with a white background.
     added some padding and removed the default bold again, and
     added some top margin */
  background: pink;
  padding: 0.5em;
  font-weight: normal;
  color: pink;
  margin-top: 2em;
}


#toc a:hover {
  color: white;
}


#toc ul {
  padding: 0;
  list-style-type: none;
  /* you could also change the type of bullet with the above declaration! */
}

figure {
  margin: 0;
}


figcaption {
  font-size: 0.7em;

}

