
body {
  background: white;
  /* The above is called a hex code.
     There are two other ways to do colors in CSS: rgb and common names
     Find "Digital Color Meter" on your computer to explore more */
  color: black;
  font-size: 22px;
  font-family: Arial;
  font-style: oblique;

#container {
  max-width: 650px;
  margin: 0 auto;
  /* I put "max-width" rather than "width" because
     if the screen width is less than 650px, it will shrink accordingly. */
}

h1 {
  /* here I'm making the title not bold (by default headings are always bold)
     centered, larger, tighter leading, and with some bottom space or margin */
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 2em;
}

h2 {
  /* here I'm making my section headers very clear with a white background.
     added some padding and removed the default bold again, and
     added some top margin */
  background: #FFDAF3;
  padding: 0.5em;
  font-weight: normal;
  color: black;
  margin-top: 2em;
}


#toc ul {
  padding: 0;
  list-style-type: none;
  /* you could also change the type of bullet with the above declaration! */
}

    #toc {
      position: fixed;
      top: 1em;
      left: .001em;
      /* a background color might help it be differentiated from the rest */
      background: pink;
      /* that means you'll have to change the color of the text */
      color: black;
      /* some padding might make it look better */
      padding: 1em;
      /* maybe making the font size here smaller will help too */
      font-size: 0.7em;
      font-family: Arial;
    }




