
body {
  background: white;
  /* The above is called a hex code.
     There are two other ways to do colors in CSS: rgb and common names
     Find "Digital Color Meter" on your computer to explore more */
  color: #FFA889;
  font-size: 22px;
  font-family: Andale mono ;
}

#container {
  max-width: 650px;
  margin: 0 auto;
  /* I put "max-width" rather than "width" because
     if the screen width is less than 650px, it will shrink accordingly. */
}


    #toc {
      position: fixed;
      top: 1em;
      left: .001em;
      /* a background color might help it be differentiated from the rest */
      background: none;
      /* that means you'll have to change the color of the text */
      color: none;
      /* some padding might make it look better */
      padding: 1em;
      /* maybe making the font size here smaller will help too */
      font-size: 0.7em;
      font-family: "andale mono" ;
    }


#toc a {
  color: #FFBC00;
  text-decoration: none;
}

#toc a:hover {
  color: #EE7B42;
}


#toc ul {
  padding: 0;
  list-style-type: none;
  /* you could also change the type of bullet with the above declaration! */
}

figure {
  margin: 0;
}


figcaption {
  font-size: 0.7em;
}


h1{
  color: #FF9B76;
  font-family: "andale mono" ;
  font-size: 75px;
  ;
}

h3 {
  color: #FFBC00;
  font-family: "andale mono";
  font-size: 20px;
}


























