


#canvas {
  width: 2000px;
  height: 8000px;
  position: relative;
  background-image: linear-gradient(#0DC0FF, black);
}

body.colorful #pattern-1{
	transform: scale(2);
}

/* shapes */
/* make all divs inside of #canvas a circle */
#canvas div{
  border-radius: 200px;
  position: absolute;
}

.shape-1{
    width: 40px;
    height: 30px;
    background: white;
    left: 500px;
    top: 300px;
    animation: shape-1 2s alternate infinite;
    opacity:.5;
	filter: blur(10px);

}

@keyframes shape-1{
	0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

.shape-2{
    width: 30px;
    height: 30px;
    background: white;
    left: 1000px;
    top: 600px;
    animation: shape-2 4s alternate infinite;
    opacity:.5;
	filter: blur(10px);
}

@keyframes shape-2{
	0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

.shape-3{
    width: 30px;
    height: 30px;
    background: white;
    left: 1700px;
    top: 300px;
    animation: shape-3 2s alternate infinite;
    opacity:.5;
	filter: blur(10px);
}

@keyframes shape-3{
	0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

.shape-4{
	 width: 30px;
    height: 30px;
    background: white;
    left: 400px;
    top: 900px;
    animation: shape-4 3.5s alternate infinite;
    opacity:.5;
	filter: blur(10px);
}

@keyframes shape-4{
	0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity:1;}
}


.shape-5{
	 width: 30px;
    height: 30px;
    background: white;
    left: 1400px;
    top: 1500px;
     animation: shape-5 2s alternate infinite;
    opacity:.5;
	filter: blur(10px);
}

@keyframes shape-5{
	0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

.shape-6{
	 width: 30px;
    height: 30px;
    background: white;
    left: 700px;
    top: 1800px;
    animation: shape-6 2.5s alternate infinite;
    opacity:.5;
	filter: blur(10px);
}

@keyframes shape-6{
	0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

.shape-7{
	 width: 30px;
    height: 30px;
    background: white;
    left: 300px;
    top: 1600px;
     animation: shape-7 2s alternate infinite;
    opacity:.5;
	filter: blur(10px);
}

@keyframes shape-7{
	0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

.shape-8{
	 width: 30px;
    height: 30px;
    background: white;
    left: 900px;
    top: 1200px;
     animation: shape-8 3.5s alternate infinite;
    opacity:.5;
	filter: blur(10px);
}

@keyframes shape-8{
	0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

.shape-9{
	 width: 30px;
    height: 30px;
    background: white;
    left: 1600px;
    top: 800px;
     animation: shape-9 2s alternate infinite;
    opacity:.5;
	filter: blur(10px);
}

@keyframes shape-9{
	0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

.shape-10{
	 width: 30px;
    height: 30px;
    background: white;
    left: 900px;
    top: 1200px;
     animation: shape-10 4s alternate infinite;
    opacity:.5;
	filter: blur(10px);
}

@keyframes shape-10{
	0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity:1;}
}



/*#shape-8{
	transition: all to ease;

}
#shape-3:hover{
		opacity:100;
}

#shape-4:hover{
		opacity:100;
	
}
#shape-5:hover{
		opacity:100;
	
}
#shape-6:hover{
		opacity:100;
	
}
#shape-7:hover{
		opacity:100;
	
}

#shape-8:hover{
		opacity:100;
	
	
}
#shape-9:hover{
		opacity:100;	
}
#shape-10:hover{

		opacity:100;
	
}
*/

#pattern-1{
	top:3000px;
	left:5000px;
	height: 100vh;

}

/*#pattern-2{
	top:5000px;
	left:800px;
	height: 100vh;

}*/
































