

		body{
			background:#EDE4DD ;
		}
	


/*img {
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}*/


/* this is my mail icon*/
.mail{
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 200px ;
 	width: 30%;
}

#notif{
	position: relative;
	margin-left: auto;
 	margin-right: auto;
 margin-top: 200px ;
	display: none;
	width: 30%;
}



a:link { color: red; text-decoration: none; font-family: fatfrank;}
a:visited { color: brown; text-decoration: none}
a:hover { color: yellow; text-decoration: none}
a:active { color: pink; text-decoration: none}


/*#mail_button {*/
/*  background-image: url("images/mail-pixel.png");*/
/*}*/

/*#mail_button {
  width: 150px;
  height: 150px;
  background-image: url('http://i.stack.imgur.com/sfed8.png');
  background-size: cover;
  background-color: #eee;
  }*/


     
/*	
body{
	background: #FFF4DB;
	}

html {
	background: #FFF4DB;
	margin:  0 4rem;
}*/



.header {
	font-family: fatfrank;
	font-size: 6rem;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	/*background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
	*/

}

/*
/*<!--blinking background-->*/
/*
  @-webkit-keyframes argh-my-eyes {
    0%   { background-color: white; }
    49% { background-color: white; }
    50% { background-color: #EDE4DD; }
    99% { background-color: #EDE4DD; }
    100% { background-color: white; }
  }
  @-moz-keyframes argh-my-eyes {
    0%   { background-color:white; }
    49% { background-color: white; }
    50% { background-color: #EDE4DD; }
    99% { background-color: #EDE4DD; }
    100% { background-color: white; }
  }
  @keyframes argh-my-eyes {
    0%   { background-color:white; }
    49% { background-color: white; }
    50% { background-color: #EDE4DD; }
    99% { background-color: #EDE4DD; }
    100% { background-color: white; }
  }
  body {
  -webkit-animation: argh-my-eyes 2s infinite;
  -moz-animation:    argh-my-eyes 2s infinite;
  animation:         argh-my-eyes 2s infinite;
}
</style>

.grid-container{
	position: center;
	left: 20px;
	top: 300px;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
*/

/*.square {
  width: 100px;
  height: 100px;
  background: white;
  	position: center;
    top: 40px;
    left: 200px;
    right: 51px;
}


.square: hover{
    background:#blue;
}*/

/*.square {
  background: white;
  border-radius: 6;
  transition-property: background, border-radius;
  transition-duration: 6s, 2s;
  transition-timing-function: ease-in-out;
  height:95px;
  width: 95px;
  line-height: 95px;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 400px;
  left: 600px;
}


.square:hover {
  background: skyblue;
  border-radius: 50%;
}
*/



/*.grid-container {
  display: grid;
  grid-template-columns: 400px 580px 400px; 
/*  grid-auto-rows: 600px;*/
/*  grid-gap: 20px 20px;
  grid-template-rows: 150px 800px 800px;
}*/

/*.grid-item {
  background-color: lightgrey;
  border: 1px solid black;
}*/

/*#item-1 {
  background: white;
  grid-column-start: 1;
  grid-column-end: 4;
/*  grid-row-start: 2;
  grid-row-end: ; */
}*/

/*#item-2 {
  background: white;
  grid-column-start: 1;
  grid-column-end: 3;
/*  grid-row-start: 2;
  grid-row-end: ; */
}*/

/*#item-3 {
  background: white;
  grid-column-start: 2;
  grid-column-end: 3;
/*  grid-row-start: 2;
  grid-row-end: ; */
}*/

/*#item-4 {
  background: orange;
  grid-column-start: 3;
  grid-column-end: 4;
/*  grid-row-start: 2;
  grid-row-end: ; */
}*/*/







