
	
		body{
	background: yellow;
	}

	html {
	background: yellow;;
	margin:  0 4rem;
}

a:visited { color: #09076D; text-decoration: none}
a:hover { color: brown; text-decoration: none}
a:active { color: pink; text-decoration: none}


.window-1 {
	font-family: peepo;
	font-size: 1rem;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
}

a{
	font-family: peepo;
	text-decoration: none
	
}
