
	
		body{
	background: #43ffa1;
	}

	html {
	background: #43ffa1;;
	margin:  0 4rem;
}

}
a:visited { color: #f35626; text-decoration: none}
a:hover { color: #fca7f8; text-decoration: none}
a:active { color: #f35626; text-decoration: none}


.window-1 {
	font-family: peepo;
	font-size: 9em;
	font-weight:  100;
	letter-spacing: 40px;
	text-align: left;
	text-decoration:none;
	color: #f35626;
}




#Y{
	position: absolute;
}

#O{
	position: absolute;

}

#U{
	position: absolute;
	top: ;
}

#R{
	position: absolute;
	top: ;
}
