


  
    body{
  background: #72BF47;
  }

  html {
  background: #72BF47;;
  margin:  0 4rem;
}

a:visited { color: #033F00; text-decoration: none}
a:hover { color: #FFEE9C; text-decoration: none}
a:active { color: white; text-decoration: none}


.window-1 {
  font-family: peepo;
  font-size: 20rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  color: #095117;
}

a{
  font-family: peepo;
  text-decoration: none
  
}
/*
body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #80C99A, #72BF47, #D0DD27, #FEDA00);
  background-size: 400% 400%;
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

*/


/*
	
		body{
	background: #fcb12b;
	}

	html {
	background: #fcb12b;;
	margin:  0 4rem;
}

a:visited { color: green; 
			text-decoration: none}
a:hover { color: #acfcd2 ; 
		text-decoration: none}
a:active { color: pink; 
			text-decoration: none}


.window-1 {
	font-family: peepo;
	font-size: 25rem;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
}

a{
	font-family: peepo;
	text-decoration: none
	
}*/
