
	
		body{
	background: #6B0C33;
	}

	html {
	background: #6B0C33;;
	margin:  0 4rem;
}

a:visited { color: #A1BEFF; text-decoration: none}
a:hover { color: #FF7900; text-decoration: none}
a:active { color: #ff1212; text-decoration: none}


.window-1 {
	font-family: peepo;
	font-size: 12rem;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
}

a{
	font-family: peepo;
	text-decoration: none;
	text-align: center ;
	
}


