
	
		body{
	background: #bae2db;
	}

	html {
	background: #bae2db;
	margin:  0 4rem;
}

a:visited { color: blue; text-decoration: none}
a:hover { color: #FF64B2; text-decoration: none}
a:active { color: pink; text-decoration: none}

.window-1 {
	font-family: peepo;
	font-size: 7rem;
	font-weight:  100;
	letter-spacing: 0px;
	text-align: center;
	text-decoration: none;
	color: #f35626;
}

/*a{
	font-family: OCR A Std;
	position: center;
	top: 20px
	left: 20px;
	font-size: 300px;
}*/
