
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: white;
}

/* shapes */

    #circle {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
}

    #circle-1 {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
}

    #circle-2 {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
}

    #circle-3 {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
}

    #rectangle {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
}

    #rectangle-1 {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
}





