
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: #FFF5AF;
}

/* shapes */

    #circle {
      width: 100px;
      height: 100px;
      background: #7EA8FC;
      border-radius: 50px;
}

    #circle-1 {
      width: 100px;
      height: 100px;
      background: #FFA6A6;
      border-radius: 70px;
      position: absolute;
        top: 85px;
        left: 185px;
      
}

    #circle-2 {
      width: 100px;
      height: 100px;
      background: #FFF5AF;
      border-radius: 50px;
     
}

    #circle-3 {
      width: 100px;
      height: 100px;
      background: #FFA6A6;
      border-radius: 50px;


}

    #rectangle {
      width: 100px;
      height: 100px;
      background: #7EA8FC;
      border-radius: 100px;
      
}

    #rectangle-2 {
      width: 75px;
      height: 75px;
      background: #FFF5AF;
      border-radius: 100px;
       top: 200px;
        left: 250px;
        right:150px;
}





