
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: #DBD3CA;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: white;
        display: flex;
        flex-direction:row;
       flex-wrap:wrap;
       justify-content: center;
       
        /* Default of all elements, unless UA stylesheet overrides */
 
}


/*#container{
  display: flex;*/  /* Characteristics of block, but sits on a line */
/*  position: relative;*/
  

        
/*}*/

/* shapes */

#canvas {
        animation: colorchange 10s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 10s infinite; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background: #A5D6FF;}
      50%  {background: white;}
      100% {background: #A5D6FF;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #A5D6FF;}
      50%  {background: white;}
      100% {background: #A5D6FF;}
    }


    #circle {
       width: 100px;
    height: 50px; /* as the half of the width */
    background-color: white;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 20px solid #A5D6FF;
    border-bottom: 0;
    transform: scale(0.7);
    top: 50px;
     position:relative;
    top: 100px
   
      /*width: 100px;
      height: 100px;
      background: #7EA8FC;
      border-radius: 50px;*/
}

    #circle-1 {
       width: 100px;
    height: 50px; /* as the half of the width */
    background-color: #FFA6A6;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 20px solid #FFA6A6;
    border-bottom: 0;
    transform: scale(0.7);
     position:relative;
    top: 100px
   
      /*width: 100px;
      height: 100px;
      background: #FFA6A6;
      border-radius: 70px;
      position: absolute;
        top: 85px;
        left: 185px;*/
      

     



    /*#circle-3 {
      width: 100px;
      height: 100px;
      background: #FFA6A6;
      border-radius: 50px;




}*/

}
#circle-2 { 
    width: 100px;
    height: 50px; /* as the half of the width */
    background-color: #A5D6FF;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 20px solid #FFA6A6;
    border-bottom: 0;
    transform: scale(0.7);
    position:relative;
    top: 100px


}
 
 
#circle:hover{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}




#circle-1:hover{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#circle-2:hover{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
   




